.btn-outline-primary{
    color: red;
    border-color: red;
}

.btn-outline-primary:hover{
    color: white;
    background-color: red !important;
}

input {width: 200px; height: 20px;}



/* .gayy{
    text-indent: 30px;
    border: 2px solid #020202;
    margin: 20px auto;
    width: 400px;
    height: 500px;
} */

fieldset{
    width: 1200px;
    height: 350px;
    content: 'Z u nerterojrojt<br/>Hohmgo';
    position: absolute;
    top: 538px;
    left: 0;
    right: 0px;
    bottom: 0;
    border: 4px solid rgb(0, 0, 0);
    background-color: rgb(141, 136, 136);
  }

.buff{
    position:absolute;
    top: 507px;
    right:1083px;
}

.members_button{
    position:absolute;
    top: 120px;
    right:1083px;
}

.gayy{

    overflow-y: scroll;
}

